/*
!.gitignore
!/admin/
/admin/*
!/admin/controller/
/admin/controller/*
!/admin/controller/total/
admin/controller/total/*
!admin/controller/total/onego.php
!admin/language/
admin/language/*
!admin/language/english/
admin/language/english/*
!admin/language/english/total/
admin/language/english/total/*
!admin/language/english/total/onego.php
!admin/model/
admin/model/*
!admin/model/total/
admin/model/total/*
!admin/model/total/onego.php
!admin/view/
admin/view/*
!admin/view/template/
admin/view/template/*
!admin/view/template/total/
admin/view/template/total/*
!admin/view/template/total/onego.tpl
!admin/view/javascript/
admin/view/javascript/*
!admin/view/javascript/onego.js
!admin/view/stylesheet/
admin/view/stylesheet/*
!admin/view/stylesheet/onego.css

!system/
system/*
!system/library/
system/library/*
!system/library/onego/
!system/library/onego/*

!/vqmod/
/vqmod/*
!/vqmod/xml/
/vqmod/xml/*
!/vqmod/xml/onego_benefits.xml

!/catalog/
/catalog/*
!catalog/controller/
/catalog/controller/*
!catalog/controller/total/
/catalog/controller/total/*
!catalog/controller/total/onego.php

!/catalog/language/
/catalog/language/*
!/catalog/language/english/
/catalog/language/english/*
!/catalog/language/english/total/
/catalog/language/english/total/*
!/catalog/language/english/total/onego.php

!/catalog/model/
/catalog/model/*
!/catalog/model/total/
/catalog/model/total/*
!/catalog/model/total/onego.php

!/catalog/view/
/catalog/view/*
!/catalog/view/javascript/
/catalog/view/javascript/*
!/catalog/view/javascript/onego.js
!/catalog/view/theme/
/catalog/view/theme/*
!/catalog/view/theme/default/
/catalog/view/theme/default/*
!/catalog/view/theme/default/image/
/catalog/view/theme/default/image/*
!catalog/view/theme/default/image/onego*
!catalog/view/theme/default/stylesheet/
catalog/view/theme/default/stylesheet/*
!catalog/view/theme/default/stylesheet/onego.css
!catalog/view/theme/default/template/
catalog/view/theme/default/template/*
!catalog/view/theme/default/template/common/
catalog/view/theme/default/template/common/*
!catalog/view/theme/default/template/common/onego_header.tpl
!catalog/view/theme/default/template/total/
catalog/view/theme/default/template/total/*
!catalog/view/theme/default/template/total/onego*

#.idea
#system/cache/*
#system/logs/*
#download/*
#image/cache/*
#vqmod/*
#vqmod/vqcache/*
#/nbproject/*
#/.gitk-tmp.64643/
#.DS_Store
