#column-right {
	width: 250px;
}
#column-right + #content {
	margin-right: 265px;
}
input.onego_watermark {
    color: gray;
}
input.onego_watermark.focused {
    color: black;
}
#onego_authwidget_container {
    width: 350px;
    height: 35px;
}
#onego_panel {
    border: 1px solid #D8DEE1; 
    margin: 0px 20px; 
    border-radius: 5px;
    background-color: #F0F0F0;
}

#onego_widget_container {
    position: absolute; 
    left: -450px; 
    top: 0pt; 
    width: 480px;
    z-index: 999;
    padding-bottom: 5px;
}

#onego_widget_container .onego_widget_handle {
    margin-top: 15px;
    float: right;
    width: 30px;
    background: transparent url(../image/onego_handle.png) no-repeat center center;
}
#onego_widget_container .onego_widget_handle .onego_widget_hide,
#onego_widget_container .onego_widget_handle .onego_widget_show {
    display: none;
}
#onego_widget_container .onego_widget_handle {
}
.onego_widget_handle .onego_widget_loading,
.onego_widget_handle .onego_widget_hide,
.onego_widget_handle .onego_widget_show {
    margin: 13px 0px;
}
.onego_widget_handle .onego_widget_loading img,
.onego_widget_handle .onego_widget_hide img,
.onego_widget_handle .onego_widget_show img {
    border: none;
    padding: 11px 8px 64px 6px;
}
#onego_widget_container .onego_widget {
    margin-right: 30px;
    width: 450px;
    overflow: hidden;
}