input.onego_watermark {
    color: gray;
}
input.onego_watermark.focused {
    color: black;
}
#onego_authwidget_container {
    width: 350px;
    height: 35px;
}
#onego_panel {
    margin: 0px;
    padding: 10px 15px;
    position: relative;
}

#onego_panel_label {
    background: transparent url("../image/onego.png") no-repeat scroll center center;
    height: 22px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 90px;
    
    background-color: #FFF;
    border: 1px solid #D8DEE1; 
    border-radius: 5px;
}

#onego_panel_content {
    background-color:#F0F0F0;

    border: 1px solid #D8DEE1; 
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
}

#onego_widget_container {
    position: absolute; 
    left: -462px;
    top: 0pt; 
    width: 500px;
    z-index: 999;
}

#onego_widget_container .onego_widget_handle {
    margin-top: 35px;
    float: right;
    width: 38px;
    background: transparent url(../image/onego_handle.png) no-repeat center center;
}
#onego_widget_container .onego_widget_handle .onego_widget_hide,
#onego_widget_container .onego_widget_handle .onego_widget_show {
    display: none;
}
#onego_widget_container .onego_widget_handle {
}
.onego_widget_handle .onego_widget_loading,
.onego_widget_handle .onego_widget_hide,
.onego_widget_handle .onego_widget_show {
    margin: 13px 0px;
}
.onego_widget_handle .onego_widget_loading img,
.onego_widget_handle .onego_widget_hide img,
.onego_widget_handle .onego_widget_show img {
    border: none;
    padding: 11px 8px 64px 6px;
}
#onego_widget_container .onego_widget {
    margin-right: 38px;
    width: 450px;
    overflow: hidden;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EEE;
    border: 1px solid silver;
    padding: 5px;
}
.onego_plugin {
    display: none;
}

.onego_loading {
    background: transparent url(../image/onego_loading.gif) no-repeat center center;
    display: inline-block;
}