input.onego_watermark {
    color: gray;
}
input.onego_watermark.focused {
    color: black;
}
#onego_authwidget_container {
    float: left;
    width: 350px;
}
#onego_login_container {
    float: left;
    width: 360px;
    text-align: center;
    padding-bottom: 10px;
}
#onego_giftcardredeem_container {
    float: right;
    width: 360px;
    text-align: center;
    padding-bottom: 10px;
}
#onego_funds_container {
    float: right;
}
#onego_funds_container .onego_funds_available,
#onego_funds_container .onego_giftcard {
    text-align: right;
}
#onego_funds_container .onego_giftcard {
    margin-top: 5px;
}
#onego_panel {
    margin: 0px;
    padding: 10px 15px;
    position: relative;
    margin-bottom: 10px;
}

#onego_panel_label {
    background: transparent url("../image/onego.png") no-repeat scroll center center;
    height: 22px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 90px;
    background-color: #FFF;
    border: 1px solid #D8DEE1; 
    border-radius: 5px;
}

#onego_panel_content {
    background-color:#F0F0F0;
    border: 1px solid #D8DEE1; 
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
}

#onego_panel_footer {
    clear: both;
    text-align: center;
}

#onego_panel hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #FFF;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
}

.onego_loading_container {
    background: transparent url(../image/onego_loading.gif) no-repeat center center;
}